body {
    background-color: pink;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#headerLogo {
    max-height: 120px;
}

.card-container {
    display: grid;
    max-width: 400px;
    margin: auto;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
}

/* .card {
    display: grid;
    max-width: 400px;
    margin: auto;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
} */

.card-image {
    height: 300px;
    width: auto;
}